*.a
*.o
*.lib
*.obj
*.pdb
*.dll
*.ilk
*.suo
*.exe
*.exe.manifest
*.log
*.res
.DS_Store
.vs
.vscode/*
!.vscode/launch.json
tests/_test*
build
build-wasm
.build
.deps
CMakeSettings.json
web/node_modules
web/dist
